[Desktop Entry]
Name[en_US]=Task-Tracker
Name=
Type=Application
Comment[en_US]=Manage the small tasks
Comment=
Exec=##
Terminal=false
Categories=Productivity
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
